/* This makes sure that the padding and border are included in the total width and height of the elements. */

* {
    border: 1px solid darkred;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(75, 78, 78);
}

.containerAllLeftClass {
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 70%;
    margin-left: 2%;
    margin-right: 2%;
}

.containerAllRightClass {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 70%;
    margin-left: 2%;
    margin-right: 2%;
}